<div class="dashboard-container">
  <div
    class="header-actions"
    style="margin-bottom: 1rem; display: flex; justify-content: flex-end"
  >
    <button class="btn btn-primary" (click)="openCreateModal()">
      + Crear Periodo
    </button>
  </div>

  <div class="table-wrapper" style="margin-bottom: 1rem">
    <app-dynamic-table
      [data]="periods()"
      [columns]="columns"
      emptyMessage="No hay periodos disponibles."
    >
      <ng-template #customCell let-item let-col="column">
        @if (col.key === "name") {
          {{ item.name || "Sin nombre" }}
        } @else {
          {{ col.key === "startDate" ? item.startDate : item.endDate }}
        }
      </ng-template>

      <ng-template #actions let-period>
        <button
          class="btn btn-secondary"
          style="padding: 4px 12px; font-size: 0.8rem"
          (click)="openEditModal(period)"
        >
          Editar
        </button>
      </ng-template>
    </app-dynamic-table>
  </div>

  <app-paginator
    [pageSize]="size()"
    [currentPage]="page()"
    [totalPages]="totalPages()"
    (pageSizeChange)="onSizeChange($event)"
    (onSelectPage)="onPageChange($event)"
  ></app-paginator>
</div>

<app-edit-period-modal
  [isOpen]="isModalOpen()"
  [period]="selectedPeriod()"
  (closeModal)="closeModal()"
  (savePeriod)="onSavePeriod($event)"
>
</app-edit-period-modal>
