<div
  class="flex flex-row justify-between"
  style="font-weight: 600; color: black; font-size: 14px"
>
  <span class="text-sm font-semibold text-secondary">{{ label() }}</span>
  <strong class="text-sm">{{ val() }}/{{ max() }}</strong>
</div>
<input
  class="w-full"
  type="range"
  [min]="min()"
  [max]="max()"
  [value]="val()"
  [disabled]="isDisabled()"
  (input)="onInput($event)"
  (blur)="onBlur()"
  [style.background]="
    'linear-gradient(to right, #0056b3 0%, #0056b3 ' +
    fillPercent +
    '%, #e0e0e0 ' +
    fillPercent +
    '%, #e0e0e0 100%)'
  "
/>
<div class="flex flex-row justify-between">
  <span class="text-sm font-semibold text-secondary"
    >Deficiente ({{ min() }})</span
  >
  <span class="text-sm font-semibold text-secondary"
    >Excelente ({{ max() }})</span
  >
</div>
