<div class="period-selector-container">
  <div class="period-selector-wrapper">
    <button class="selector-btn" (click)="toggleOpen()">
      {{ selectedPeriod()?.name || "Seleccionar período" }}
    </button>

    @if (isOpen()) {
      <div class="selector-dropdown shadow">
        <div class="table-wrapper">
          <app-dynamic-table [data]="mappedPeriods()" [columns]="columns">
            <ng-template #actions let-item>
              <button class="btn-select" (click)="selectPeriod(item.original)">
                Seleccionar
              </button>
            </ng-template>
          </app-dynamic-table>
        </div>
        <app-paginator
          [pageSize]="pageSize()"
          [currentPage]="page()"
          [totalPages]="totalPages()"
          (pageSizeChange)="handlePageSizeChange($event)"
          (onSelectPage)="handlePageChange($event)"
        ></app-paginator>
      </div>
    }
  </div>
</div>
