<div class="form-group" [formGroup]="form">
  <label class="text-sm font-medium text-secondary mb-1">
    {{ matrix().budgetCategory.code + " - " + matrix().budgetCategory.name }}
  </label>

  <div class="flex items-center justify-between text-xs text-tertiary mb-2">
    <span
      >Presupuesto total:
      {{
        matrix().patActivityBudget?.totalBudget ?? 0
          | currency: "COP" : "symbol" : "1.0-0"
      }}</span
    >
  </div>

  <input
    type="text"
    appCurrencyFormat
    [appFormFieldError]="{}"
    formControlName="executedBudget"
    class="form-control pl-7 w-full sm:text-sm text-right"
    placeholder="0"
  />
</div>
