@if (isOpen) {
  <div class="modal-overlay" (click)="onClose()">
    <div
      class="modal-container"
      (click)="$event.stopPropagation()"
    >
      <div class="modal-header">
        <h2 class="modal-title">Crear evaluación de desempeño</h2>
        <button
          type="button"
          class="close-btn"
          (click)="onClose()"
          aria-label="Close modal"
        >
          &times;
        </button>
      </div>

      <form [formGroup]="assessmentForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          

          <app-search-select
          (onSearch)="onSearchPeriod($event)"
          (onSelect)="onSelectPeriod($event)"
          (onRemove)="onRemovePeriod($event)"

          [selectedItems]="selectedPeriods()"
          [emptyMessage]="'No se encontraron periodos de evaluación.'"
          [errorMessage]="'El periodo de evaluación es requerido'"
          [required]="true"
          [label]="'Periodo de evaluación'"
          [items]="periods()"
          ></app-search-select>


          <app-search-select
          (onSearch)="onSearchEvaluatee($event)"
          (onSelect)="selectEvaluatee($event)"
          (onRemove)="onRemoveEvaluatee($event)"

          [selectedItems]="selectedEvaluatee()"
          [emptyMessage]="'No se encontraron empleados.'"
          [errorMessage]="'El empleado es requerido'"
          [required]="true"
          [label]="'Empleado'"
          [items]="searchSelectOptions"
          ></app-search-select>
        </div>

        <div class="modal-footer" style="margin-top: 1.5rem">
          <button type="button" class="btn btn-secondary" (click)="onClose()">
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="assessmentForm.invalid"
          >
            Guardar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>
}
