@if (isOpen) {
  <div class="modal-overlay" (click)="onClose()">
    <div
      class="modal-container"
      (click)="$event.stopPropagation()"
    >
      <div class="modal-header">
        <h2 class="modal-title">Crear evaluación de desempeño</h2>
        <button
          type="button"
          class="close-btn"
          (click)="onClose()"
          aria-label="Close modal"
        >
          &times;
        </button>
      </div>

      <form [formGroup]="assessmentForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="evaluation-period"
              >Periodo de Evaluación <span class="required">*</span></label
            >
            <select
              id="evaluation-period"
              formControlName="periodId"
              class="form-control"
              [class.is-invalid]="
                assessmentForm.get('periodId')?.invalid &&
                assessmentForm.get('periodId')?.touched
              "
            >
              <option [ngValue]="null" disabled selected>
                Seleccione un periodo
              </option>
              @for (period of periods(); track period.id) {
                <option [ngValue]="period.id">
                  {{
                    period.name
                      ? period.name
                      : period.startDate + " a " + period.endDate
                  }}
                </option>
              }
            </select>
            @if (
              assessmentForm.get("periodId")?.invalid &&
              assessmentForm.get("periodId")?.touched
            ) {
              <div class="invalid-feedback">
                El periodo de evaluación es requerido.
              </div>
            }
          </div>

          <app-search-select
          [emptyMessage]="'No se encontraron empleados.'"
          (onSearch)="onSearchEvaluatee($event)"
          [errorMessage]="'El empleado es requerido'"
          [required]="true"
          [label]="'Empleado'"
          [items]="searchSelectOptions"
          ></app-search-select>

          <app-search-select
          [emptyMessage]="'No se encontraron empleados.'"
          (onSearch)="onSearchEvaluator($event)"
          [required]="false"
          [label]="'Jefe inmediato'"
          [items]="searchSelectOptions"
          ></app-search-select>

          
        </div>

        <div class="modal-footer" style="margin-top: 1.5rem">
          <button type="button" class="btn btn-secondary" (click)="onClose()">
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="assessmentForm.invalid"
          >
            Guardar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>
}
