<div
  class="group flex items-center min-h-8 py-2 px-2 mt-2 rounded-md hover:bg-gray-50 transition-all border-b border-transparent hover:border-gray-100"
  [formGroup]="form"
>
  <div class="flex items-center space-x-2">
    <svg
      width="14"
      height="14"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
    >
      <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
      <circle cx="9" cy="7" r="4" />
    </svg>
    <app-search-select
      [emptyMessage]="searchSelectEmployeeContext.op?.emptyMessage ?? ''"
      [items]="searchSelectEmployeeContext.options()"
      [selectedItems]="searchSelectEmployeeContext.selectedOptions()"
      [maxElements]="searchSelectEmployeeContext.op?.maxItems ?? 1"
      [required]="searchSelectEmployeeContext.op?.isRequired ?? false"
      (onRemove)="searchSelectEmployeeContext.remove($event)"
      (onSearch)="searchSelectEmployeeContext.search($event)"
      (onSelect)="searchSelectEmployeeContext.select($event)"
    >
    </app-search-select>

    <input
      #datePicker
      type="date"
      class="w-full h-full input-date-lc"
      formControlName="dueDate"
    />
  </div>

  <input
    #newItemInput
    type="text"
    placeholder="Agregar elemento"
    class="grow bg-transparent text-sm text-secondary outline-none placeholder:text-alternate focus:placeholder:text-transparent transition-all ml-2"
    (keyup.enter)="onEnterPressed($event)"
    formControlName="name"
  />
</div>
