<div class="table-container">
  @if (data().length) {
    <table class="base-table">
      <thead class="table-header">
        <tr class="table-row">
          @for (col of columns(); track col.key) {
            <th class="table-header-cell">{{ col.label }}</th>
          }
          @if (actionsTemplate) {
            <th class="table-header-cell">Acciones</th>
          }
        </tr>
      </thead>
      <tbody class="table-body">
        @for (item of data(); track $index) {
          <tr class="table-row">
            @for (col of columns(); track col.key) {
              <td class="table-cell">
                @if (col.valueCallBack) {
                  {{ col.valueCallBack(item) }}
                } @else if (customCellTemplate) {
                  <ng-container
                    *ngTemplateOutlet="
                      customCellTemplate;
                      context: { $implicit: item, column: col }
                    "
                  ></ng-container>
                } @else {
                  {{ item | nestedValue: col.key }}
                }
              </td>
            }
            @if (actionsTemplate) {
              <td class="table-cell actions-cell">
                <ng-container
                  *ngTemplateOutlet="
                    actionsTemplate;
                    context: { $implicit: item }
                  "
                ></ng-container>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <span class="text-sm w-full text-center">{{ emptyMessage() }}</span>
  }
</div>
