<app-pagination-table [service]="service" [tableColumns]="columns">
  <ng-template #customCell let-item let-col="column">
    @if (col.key == "budget") {
      <app-pat-progress-bar
        [value]="
          pctValue(
            item.consolidation.approvedBudget,
            item.consolidation.executedBudget
          )
        "
        [planned]="item.consolidation.approvedBudget"
        [executed]="item.consolidation.executedBudget"
        [showLegend]="true"
      ></app-pat-progress-bar>
    } @else if (col.key == "measurement") {
      <app-pat-progress-bar
        [value]="
          pctValue(
            item.consolidation.plannedMeasurementGoal,
            item.consolidation.executedMeasurementGoal
          )
        "
        [planned]="item.consolidation.plannedMeasurementGoal"
        [executed]="item.consolidation.executedMeasurementGoal"
      ></app-pat-progress-bar>
    } @else if (col.key == "indicator") {
      <app-pat-progress-bar
        [value]="
          pctValue(
            item.consolidation.plannedIndicatorGoal,
            item.consolidation.executedIndicatorGoal
          )
        "
        [planned]="item.consolidation.plannedIndicatorGoal"
        [executed]="item.consolidation.executedIndicatorGoal"
      ></app-pat-progress-bar>
    } @else if (col.key == "benefit") {
      <app-pat-progress-bar
        [value]="
          pctValue(
            item.consolidation.plannedBenefitGoal,
            item.consolidation.executedBenefitGoal
          )
        "
        [planned]="item.consolidation.plannedBenefitGoal"
        [executed]="item.executedBenefitGoal"
      ></app-pat-progress-bar>
    } @else {
      {{ item | nestedValue: col.key }}
    }
  </ng-template>

  <ng-template #actions let-item>
    <button
      class="btn btn-sm btn-outline-primary"
      title="Ver detalle"
      (click)="openDetail(item)"
    >
      Ver →
    </button>
    <!--<button
      class="btn btn-sm btn-outline-primary"
      title="Eliminar"
      (click)="openDetail(item)"
    >
      Ver →
    </button>-->
  </ng-template>
</app-pagination-table>
