@if (isOpen) {
  <div class="modal-overlay" (click)="onClose()">
    <div class="modal-container" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2 class="modal-title">Formulario de evaluación de desempeño</h2>
        <button
          type="button"
          class="close-btn"
          (click)="onClose()"
          aria-label="Close modal"
        >
          &times;
        </button>
      </div>

      <section class="assessment-info">
        <div class="assessment-info-item">
            <strong>Empleado</strong>
            <span>{{ evaluateeFullName }}</span>
        </div>
        <div class="assessment-info-item">
            <strong>Evaluador</strong>
            <span>{{ evaluatorFullName }}</span>
        </div>
        <div class="assessment-info-item">
            <strong>Periodo</strong>
            <span>{{ evaluationPeriodRange }}</span>
        </div>
        <div class="assessment-info-item">
            <strong>Fecha de evaluación</strong>
            <span>{{ evaluationDate }}</span>
        </div>
      </section>

      <p>Evaluación de competencias</p>

      <form [formGroup]="assessmentForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">

            @for (competencyScore of competenciesScores; track competencyScore.id) {
                <div class="form-group">
                    <label for="competency-{{ competencyScore.competency!.id }}">{{ competencyScore.competency!.name }}</label>
                    <p>{{competencyScore.competency!.description}}</p>
                    <input
                        type="number"
                        id="competency-{{ competencyScore.competency!.id }}"
                        formControlName="competencyScores[{{ competencyScore.competency!.id }}]"
                        min="1"
                        max="5"
                        class="form-control"
                    />
                </div>
            }
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onClose()">
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="assessmentForm.invalid"
          >
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
}
