.assessment-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.assessment-info-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .assessment-info-label {
    font-weight: bold;
    font-size: 15px;
    color: gray;
  }

  .assessment-info-value {
    font-weight: bold;
    font-size: 18px;
  }
}

.assessment-competencies {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  p {
    font-weight: bold;
  }
}

.score-average-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  border-radius: 12px;
  border: 2px solid #bbbbcf;
  background-color: #ebeef2;
  .score-average {
    display: flex;
    flex-direction: column;
    span {
      font-weight: lighter;
      font-size: 14px;
      color: gray;
    }
    .score {
      font-weight: bold;
      font-size: 30px;
      color: black;
    }
  }

  .score-description {
    font-size: 20px;
    color: white;
    background-color: #003884;
    text-align: center;
    font-weight: bold;
    padding: 13px;
    border-radius: 12px;
  }
}
