<section class="p-4">
  <details class="group" (toggle)="onToggle($event)">
    <summary
      class="text-sm font-bold text-tertiary uppercase tracking-wider cursor-pointer list-none mb-4 hover:text-secondary transition-colors">
      Acciones correctivas
    </summary>

    <div class="space-y-2">
      @if(childActions() >= 0) {
        @for (action of actions(); track action.id) {
          <app-corrective-action-details
          [action]="action"
          [planId]="planId()"

          (onDelete)="onDeleteCorrectiveAction($event)"
          ></app-corrective-action-details>
        }
      }
    </div>

    <app-new-corrective-action
      [planId]="planId()"
      [parentId]="parentId()"

      (onCreated)="onCreated($event)"
    ></app-new-corrective-action>
  </details>
</section>